# Polymer need bower but we dont.
/bower_components

# node modules directory
/node_modules

# Electron-builder distributable 
/dist

# Self Signed Cert
*.pfx

# env variables
*.env
.env.*
!.env.example
!*.env.example

test_me.txt

yarn.lock